{% extends 'blog/navbar.html' %}
{% load staticfiles %}

{% load crispy_forms_tags %}
{% block content %}

<header>
    <div class="container">
        <div class="row">
          <div class="col-md-4"></div>

          <div class="col-md-4">
              {% csrf_token %}
              {% crispy form %}
          </div>
          <div class="col-md-4"></div>
        </div>
    </div>
    </div>
</header>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

{% endblock %}
  <form class="form-signin" action="/register" method="POST">



  <br>
    <h2 class="form-signin-heading">REGISTRO</h2>
      <label for="inputEmail" class="sr-only">Usuario</label>
        <input type="nombre" id="inputEmail" class="form-control" placeholder="Usuario">
      <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <label for="inputEmail" class="sr-only">Telefono</label>
        <input type="nombre" id="inputEmail" class="form-control" placeholder="Telefono">
      <label for="inputEmail" class="sr-only">Nombre</label>
        <input type="nombre" id="inputEmail" class="form-control" placeholder="Nombre">
      <label for="inputEmail" class="sr-only">Apellido</label>
        <input type="nombre" id="inputEmail" class="form-control" placeholder="Apellido">
      <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="recordarme"> Recordarme
          </label>
        </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Registrarse</button>
  </form>

